<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hgati_converttowebp>
            <general>
                <enable>0</enable>
                <webp_extension>.ngx.webp</webp_extension>
                <enable_log>0</enable_log>
            </general>
        </hgati_converttowebp>
    </default>
</config>
